*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;

}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

a {
    text-decoration: none;
}

.parent{

    padding: 30px;
    display: flex;

    text-align: center;
    gap: 50px;

    position: fixed;
}

.logo {
    padding: 10px;
}

.search {
    background-color: rgb(238, 239, 240);

    width: 600px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

.nav {
    padding: 10px;
    width: 400px;
    display: flex;
    gap: 20px;
}
.main{
    position: relative;
    top: 70px;
}
.main > img{
    display: flex;
    flex-direction: row;
    width: 1320px;
    padding: 30px;
    justify-content: center;
    align-items: center;

}
.image{
    padding: 35px;
    display: flex;
    gap: 30px;

}
.image > img{
    width: 130px;
    height: 150px;
}