* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 250);
}


.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}




.card {
    width: 240px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}




.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.18);
}




.card-top {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgb(255, 0, 170),
        skyblue
        );
}




.card-top span {
    font-size: 40px;
}




.card-content {
    padding: 18px;
}




.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: wheat;
    color: rgb(81, 81, 109);
    font-size: 12px;
    font-weight: bold;
}




.card h2 {
    margin: 12px 0 8px;
    font-size: 20px;
    color: rgb(99, 96, 96);
}




.card p {
    margin: 0 0 16px;
    font-size: 13px;
    line-height: 1.5;
    color: rgb(65, 63, 63);
}




.card button {
    border: none;
    padding: 9px 14px;
    border-radius: 6px;
    background: linear-gradient(
        135deg,
        rgb(159, 159, 179),
        blue
    );
    color: rgb(243, 242, 242);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}




.card button:hover {
    opacity: 0.85;
}



