.pract{
    background-color: rgb(255, 0, 128);
    padding: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.sty{
    background-color: pink;
    text-align: center;
    color: rgb(51, 28, 28);
    margin: auto;
    padding: 50px;
    width: 200px;
    height: auto;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px black;
}
.styone{
    background-color: pink;
    text-align: center;
    color: rgb(51, 28, 28);
    margin: auto;
    padding: 50px;
    width: 200px;
    height: auto;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px black;
}
.stytwo{
    background-color:pink;
    text-align: center;
    width: 200px;
    color: lch(13.34% 12.32 22.95);
    margin: auto;
    padding: 50px;
    height: auto;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px black;
}
img{
    width: 200px;
    border-radius: 10px;
}  
h2{
    text-align: center;
    margin-bottom: 40px;
    margin-left: 8px;
}