* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}


header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    color: #00aaff;
    font-size: 40px;
}

header p {
    margin-top: 10px;
    color: white;
}


nav {
    background-color: #333;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 17px;
}

nav a:hover {
    color: #00aaff;
}

main {
    padding: 40px;
    text-align: center;
}

section {
    background-color: white;
    padding: 25px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #00aaff;
    margin-bottom: 15px;
}

section p {
    font-size: 17px;
    line-height: 1.6;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    color: white;
}